
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: black;
    color: white;
}

header{
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}

header img{
    max-width: 100%;
    border-radius: 20px;
}

.links a{
    
    color: white;
    text-decoration: none;
    margin: 40px;
   
}

.log{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.log-button{
    background-color: blue;
    color: white;
    border: none;
    width: 50px;
    height: 30px;
    border-radius: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.links a:hover{
    text-decoration: underline;
    transform: scale(1.1);
    transition: transform 0.2s ease-in-out;
}

.content{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 78rem;
    background: white;
    color: black;
    align-items: center;
    padding: 0px 0px 0px 1rem;
}
.content .words{
    text-align: center;
    font-size: 2rem;
}

.content img{
    max-width: 100%;
}

.specs {
    margin: 20px 0;
    padding: 20px;
    background-color:black;
    border: 1px solid #ddd;
  }
  
  .specs h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .specs ul {
    list-style-type: disc;
    margin-bottom: 0;
  }
  
  .specs ul li {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .specs ul ul {
    list-style-type: circle;
    margin-top: 5px;
    margin-bottom: 0;
  }
  
  .specs ul ul li {
    font-size: 14px;
    margin-bottom: 5px;
  }
  
  .specs hr {
    border: 0;
    border-top: 1px solid #ddd;
    margin-top: 20px;
    margin-bottom: 20px;
  }


  .buy{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }


  .buy-button{
   background: linear-gradient(blue, red);
   border: none;
   border-radius: 2px;
   color:white;
   height: 20px;
   width: 60px;
   text-align: center;
   cursor:pointer;
  }
  
  .buy-button:hover{
    background: linear-gradient(blue, red);
   border: solid white 2px;
   border-radius: 2px;
   color:white;
   height: 36px;
   width: 119px;
   text-align: center;
   transform: scale(1.1);
   transition: transform 0.2s ease-in-out;
  }

  .buy-button a{
    border:none;
    text-decoration: none;
    color: white;
    height: 36px;
    width: 119px;
  }

  @media only screen and (max-width: 768px) {
    header{
        padding: 10px;
    }
    
    .links a{
        margin: 5px;
    }
    .log-button{
        width: 40px;
        height: 25px;
        font-size: 0.8rem;
    }
    .content {
      grid-template-columns: 1fr;
      padding: 0px;
    }
  
    .content .words {
      font-size: 1.5rem;
    }
  
    .content img {
      width: 100%;
    }
    .specs {
        font-size: 0.8rem;
    }
    .specs li {
        margin-bottom: 5px;
    }
    .buy-button {
        width: 120px;
        height: 40px;
        font-size: 1.2rem;
    }
  }
